<h1 style="text-align: center;">Chat Pablo Coca</h1> 
<div style="margin: 10px; padding: 10px; background-color:  yellowgreen; font-size: large; color: blue; text-align: center; border-color: black; border-width: 10px; border-radius: 2%;">
    <p>En esta web usted podrá difrutar de un chat que te dejará con ganas de no hablar nunca más. Pero en serio</p>
    <p>¡Bienvenidos!</p>

    <form action="" method="post">
        <label for="idNombreUsuario">Nombre de Usuario</label>
        <input type="text" name="nombreUsuario" id="idNombreUsuario"></input>
        <input type="button" value="Conectar" id="btnConectar"></input>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>